service:
  name: 'Registration Attendee Service'
  regsys_public_url: 'http://localhost:10000/register'
  # if you leave this blank, a local mock will be used
  payment_service: 'http://localhost:9092' # no trailing slash
  # if you leave this blank, a local mock will be used
  mail_service: 'http://localhost:9093' # no trailing slash
  # if you leave this blank, userinfo checks will be skipped
  auth_service: 'http://localhost:4712' # no trailing slash
server:
  port: 9091
database:
  use: 'mysql' # or inmemory
  username: 'demouser'
  password: 'demopw'
  database: 'tcp(localhost:3306)/dbname'
  parameters:
    - 'charset=utf8mb4'
    - 'collation=utf8mb4_general_ci'
    - 'parseTime=True'
    - 'timeout=30s' # connection timeout
security:
  fixed_token:
    api: 'put_secure_random_string_here_for_api_token'
  oidc:
    # set this nonempty to read the jwt token from a cookie
    id_token_cookie_name: 'JWT'
    access_token_cookie_name: 'AUTH'
    # a list of public RSA keys in PEM format, see https://github.com/Jumpy-Squirrel/jwks2pem for obtaining PEM from openid keyset endpoint
    token_public_keys_PEM:
      - |
        -----BEGIN PUBLIC KEY-----
        MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAnzyis1ZjfNB0bBgKFMSv
        vkTtwlvBsaJq7S5wA+kzeVOVpVWwkWdVha4s38XM/pa/yr47av7+z3VTmvDRyAHc
        aT92whREFpLv9cj5lTeJSibyr/Mrm/YtjCZVWgaOYIhwrXwKLqPr/11inWsAkfIy
        tvHWTxZYEcXLgAXFuUuaS3uF9gEiNQwzGTU1v0FqkqTBr4B8nW3HCN47XUu0t8Y0
        e+lf4s4OxQawWD79J9/5d3Ry0vbV3Am1FtGJiJvOwRsIfVChDpYStTcHTCMqtvWb
        V6L11BWkpzGXSW4Hv43qa+GSYOD2QU68Mb59oSk2OB+BtOLpJofmbGEGgvmwyCI9
        MwIDAQAB
        -----END PUBLIC KEY-----
    admin_group: 'admin'
    # set this nonempty to allow early reg
    early_reg_group: ''
    # optional, but will be checked if set (should set to reject tokens created for other clients than regsys)
    audience: 'only-allowed-audience-in-tokens'
    # optional, but will be checked if set
    issuer: 'only-allowed-issuer-in-tokens'
    avatar_base_url: 'http://localhost:10000/identity-avatars/'
  cors:
    # set this to true to send disable cors headers - not for production - local/test instances only - will log lots of warnings
    disable: false
    # if setting disable_cors, you should also specify this. Right now, only a single entry is supported, not a comma separated list
    allow_origin: 'http://localhost:8000'
  # set this to true to require a valid oidc token for initial reg. This allow the service to store the subject of the token and use it for authorization
  require_login_for_reg: true
  # set this to true temporarily to use the load testing command with constant tokens. Never use in production.
  # anonymize_identity: true
  find_api_access:
    # the list of permissions in the "permissions" field that grant access to the (limited) findAttendees API
    permissions:
      - regdesk
      - sponsordesk
      - staffradio
logging:
  severity: INFO
  style: plain # or ecs (elastic common schema), the default
go_live:
  start_iso_datetime: '2022-01-29T20:00:00+01:00'
  # optional, only useful if you also set early_reg_role, should be earlier than start_iso_datetime
  early_reg_start_iso_datetime: ''
dues:
  earliest_due_date: '2024-01-01'
  latest_due_date: '2024-09-21'
  due_days: 14 # calendar days
birthday:
  earliest: '1901-01-01'
  latest: '2006-09-18'
additional_info_areas:
  # the key is the "area" parameter in the API url (/attendees/{id}/additional-info/{area}).
  # Key must be [a-z]+. The key "overdue" is reserved for internal use and thus not allowed here.
  regdesk:
    permissions:
      - regdesk
  sponsordesk:
    permissions:
      - sponsordesk
  shipping:
    self_read: true # allow a user to read this additional info area on their own registration
    self_write: true # allow a user to write/delete this additional info area on their own registration
    # a user needs to have any of the values listed under permissions: in the "permissions" field on their registration
    # to have read and write access to this area for ALL registrations, not just their own
    permissions:
      - sponsordesk
  dealerreg:
    self_read: true
    permissions:
      - regdesk
      - sponsordesk
  fursuitbadge:
    self_read: true
    permissions:
      - fursuitbadge
  staffradio:
    permissions:
      - staffradio
choices:
  flags:
    anon:
      description: Legal Name is Confidential
    digi-book:
      description: Digital only convention booklet
      visible_for:
        - regdesk
    director:
      admin_only: true
      description: Director
      visible_for:
        - self
        - regdesk
        - sponsordesk
    ev:
      description: Eurofurence e.V. Member
      group: OE7QZN2R7Q29KWML
      read_only: true
      visible_for:
        - regdesk
    guest:
      admin_only: true
      description: Guest of the Convention
      visible_for:
        - self
        - regdesk
        - sponsordesk
    hc:
      description: Wheelchair
    skip_ban_check:
      admin_only: true
      description: Bypass ban check for this attendee
    staff:
      admin_only: true
      description: Staff
      visible_for:
        - self
        - regdesk
        - sponsordesk
    terms-accepted:
      default: true
      description: Accepted the terms
      read_only: true
  packages:
    artshow-panel-four:
      description: Artshow (4 Panels)
      price: 8000
      read_only: true
      vat_percent: 19
    artshow-panel-half:
      description: Artshow (Half Panel)
      price: 1000
      read_only: true
      vat_percent: 19
    artshow-panel-one:
      description: Artshow (1 Panel)
      price: 2000
      read_only: true
      vat_percent: 19
    artshow-panel-oneandhalf:
      description: Artshow (1.5 Panels)
      price: 3000
      read_only: true
      vat_percent: 19
    artshow-panel-three:
      description: Artshow (3 Panels)
      price: 6000
      read_only: true
      vat_percent: 19
    artshow-panel-threeandhalf:
      description: Artshow (3.5 Panels)
      price: 7000
      read_only: true
      vat_percent: 19
    artshow-panel-two:
      description: Artshow (2 Panels)
      price: 4000
      read_only: true
      vat_percent: 19
    artshow-panel-twoandhalf:
      description: Artshow (2.5 Panels)
      price: 5000
      read_only: true
      vat_percent: 19
    artshow-table-four:
      description: Artshow (4 Tables)
      price: 4000
      read_only: true
      vat_percent: 19
    artshow-table-half:
      description: Artshow (Half Table)
      price: 500
      read_only: true
      vat_percent: 19
    artshow-table-one:
      description: Artshow (1 Table)
      price: 1000
      read_only: true
      vat_percent: 19
    artshow-table-oneandhalf:
      description: Artshow (1.5 Tables)
      price: 1500
      read_only: true
      vat_percent: 19
    artshow-table-three:
      description: Artshow (3 Tables)
      price: 3000
      read_only: true
      vat_percent: 19
    artshow-table-threeandhalf:
      description: Artshow (3.5 Tables)
      price: 3500
      read_only: true
      vat_percent: 19
    artshow-table-two:
      description: Artshow (2 Tables)
      price: 2000
      read_only: true
      vat_percent: 19
    artshow-table-twoandhalf:
      description: Artshow (2.5 Tables)
      price: 2500
      read_only: true
      vat_percent: 19
    attendance:
      at-least-one-mandatory: true
      default: true
      description: Entrance Fee (Convention Ticket)
      price: 16000
      vat_percent: 19
      visible_for:
        - regdesk
    boat-benefactor:
      description: Summerboat Benefactor
      price: 10000
      read_only: true
      vat_percent: 19
    boat-trip:
      description: Summerboat Boat Trip
      price: 4000
      read_only: true
      vat_percent: 19
    boat-vip:
      description: Summerboat VIP
      price: 2500
      read_only: true
      vat_percent: 19
    contributor:
      description: Contributor Upgrade
      price: 5000
      vat_percent: 19
      visible_for:
        - regdesk
        - sponsordesk
    day-fri:
      at-least-one-mandatory: true
      constraint: '!attendance,!stage'
      constraint_msg: Must disable Convention Ticket and Stage Ticket for Day Guests.
      description: Day Guest (Friday)
      price: 9000
      vat_percent: 19
      visible_for:
        - regdesk
    day-sat:
      at-least-one-mandatory: true
      constraint: '!attendance,!stage'
      constraint_msg: Must disable Convention Ticket and Stage Ticket for Day Guests.
      description: Day Guest (Saturday)
      price: 9000
      vat_percent: 19
      visible_for:
        - regdesk
    day-thu:
      at-least-one-mandatory: true
      constraint: '!attendance,!stage'
      constraint_msg: Must disable Convention Ticket and Stage Ticket for Day Guests.
      description: Day Guest (Thursday)
      price: 9000
      vat_percent: 19
      visible_for:
        - regdesk
    day-wed:
      at-least-one-mandatory: true
      constraint: '!attendance,!stage'
      constraint_msg: Must disable Convention Ticket and Stage Ticket for Day Guests.
      description: Day Guest (Wednesday)
      price: 9000
      vat_percent: 19
      visible_for:
        - regdesk
    dealer-double:
      constraint: '!dealer-half,!dealer-full,!dealer-fullplus,!dealer-quad'
      constraint_msg: Cannot mix dealer table packages.
      description: Dealer Table Fee (Double)
      price: 20000
      read_only: true
      vat_percent: 19
    dealer-full:
      constraint: '!dealer-half,!dealer-fullplus,!dealer-double,!dealer-quad'
      constraint_msg: Cannot mix dealer table packages.
      description: Dealer Table Fee (Full)
      price: 10000
      read_only: true
      vat_percent: 19
    dealer-fullplus:
      constraint: '!dealer-half,!dealer-full,!dealer-double,!dealer-quad'
      constraint_msg: Cannot mix dealer table packages.
      description: Dealer Table Fee (Full Plus)
      price: 15000
      read_only: true
      vat_percent: 19
    dealer-half:
      constraint: '!dealer-full,!dealer-fullplus,!dealer-double,!dealer-quad'
      constraint_msg: Cannot mix dealer table packages.
      description: Dealer Table Fee (Half)
      price: 5000
      read_only: true
      vat_percent: 19
    dealer-quad:
      constraint: '!dealer-half,!dealer-full,!dealer-fullplus,!dealer-double'
      constraint_msg: Cannot mix dealer table packages.
      description: Dealer Table Fee (Quad)
      price: 40000
      read_only: true
      vat_percent: 19
    fursuit:
      description: First Fursuit Badge
      price: 0
      vat_percent: 19
      visible_for:
        - regdesk
        - sponsordesk
    fursuitadd:
      constraint: 'fursuit'
      constraint_msg: Please select the free fursuit badge first, otherwise you'll pay too much.
      description: Additional Fursuit Badge
      price: 200
      vat_percent: 19
      max_count: 10
      visible_for:
        - regdesk
        - sponsordesk
    early:
      constraint: '!day-wed,!day-thu,!day-fri,!day-sat'
      constraint_msg: Early Bird Discount does not apply to Day Tickets
      description: Early Bird Discount
      price: -1500
      read_only: true
      vat_percent: 19
      visible_for:
        - regdesk
    late:
      constraint: '!day-wed,!day-thu,!day-fri,!day-sat'
      constraint_msg: Late Fee does not apply to Day Tickets
      default: true
      description: Late Fee
      price: 1500
      read_only: true
      vat_percent: 19
      visible_for:
        - regdesk
    room-none:
      default: true
      description: No Room
      read_only: true
      vat_percent: 7
    sponsor:
      constraint: '!contributor'
      constraint_msg: Please choose only one of Contributor, Sponsor or Supersponsor.
      description: Sponsor Upgrade
      price: 10000
      vat_percent: 19
      visible_for:
        - regdesk
        - sponsordesk
    sponsor2:
      constraint: '!contributor,!sponsor'
      constraint_msg: Please choose only one of Contributor, Sponsor or Supersponsor.
      description: Supersponsor Upgrade
      price: 20000
      vat_percent: 19
      visible_for:
        - regdesk
        - sponsordesk
    benefactor:
      allowed_counts:
        - 1
        - 2
        - 3
        - 4
        - 5
        - 6
        - 8
        - 10
        - 15
        - 20
        - 30
        - 40
        - 50
        - 100
      constraint: 'sponsor2'
      constraint_msg: Only available for supersponsors.
      description: Benefactor
      max_count: 100
      price: 5000
      vat_percent: 19
      visible_for:
        - regdesk
        - sponsordesk
    stage:
      default: true
      description: Entrance Fee (Stage Ticket)
      price: 500
      vat_percent: 19
      visible_for:
        - regdesk
    tshirt:
      constraint: '!contributor,!sponsor,!sponsor2'
      constraint_msg: Contributors, sponsors and supersponsors get their T-Shirt for free.
      description: Paid T-Shirt (non-sponsor)
      price: 2000
      vat_percent: 19
      visible_for:
        - sponsordesk
  options:
    anim:
      description: Animator
    art:
      description: Artist
    music:
      description: Musician
    suit:
      description: Fursuiter
tshirtsizes:
  - 'XS'
  - 'wXS'
  - 'S'
  - 'wS'
  - 'M'
  - 'wM'
  - 'L'
  - 'wL'
  - 'XL'
  - 'wXL'
  - 'XXL'
  - 'wXXL'
  - '3XL'
  - 'w3XL'
  - '4XL'
  - 'w4XL'
spoken_languages:
  - ach
  - ady
  - af
  - ak
  - ar
  - az
  - bg
  - bn
  - br
  - ca
  - cak
  - cs
  - cy
  - da
  - de
  - dsb
  - el
  - en
  - eo
  - es
  - et
  - eu
  - fa
  - ff
  - fi
  - fil
  - fo
  - fr
  - ga
  - gd
  - gl
  - gv
  - he
  - hi
  - hr
  - hsb
  - ht
  - hu
  - hy
  - id
  - is
  - it
  - ja
  - km
  - kl
  - kab
  - kn
  - ko
  - kw
  - la
  - lb
  - lt
  - lv
  - mai
  - mk
  - ml
  - mr
  - ms
  - mt
  - my
  - nb
  - ne
  - nl
  - 'no'
  - oc
  - pa
  - pl
  - pt
  - ro
  - ru
  - sh
  - sk
  - sl
  - sq
  - sr
  - su
  - sv
  - sw
  - ta
  - te
  - tg
  - th
  - tl
  - tlh
  - tr
  - uk
  - ur
  - uz
  - vi
  - yi
  - zh
registration_languages: # first value is default
  - 'en-US'
  - 'de-DE'
countries:
  - AC
  - AD
  - AE
  - AF
  - AG
  - AI
  - AL
  - AM
  - AO
  - AQ
  - AR
  - AS
  - AT
  - AU
  - AW
  - AX
  - AZ
  - BA
  - BB
  - BD
  - BE
  - BF
  - BG
  - BH
  - BI
  - BJ
  - BL
  - BM
  - BN
  - BO
  - BQ
  - BR
  - BS
  - BT
  - BV
  - BW
  - BY
  - BZ
  - CA
  - CC
  - CD
  - CF
  - CG
  - CH
  - CI
  - CK
  - CL
  - CM
  - CN
  - CO
  - CP
  - CR
  - CU
  - CV
  - CW
  - CX
  - CY
  - CZ
  - DE
  - DG
  - DJ
  - DK
  - DM
  - DO
  - DZ
  - EA
  - EC
  - EE
  - EG
  - EH
  - ER
  - ES
  - ET
  - FI
  - FJ
  - FK
  - FM
  - FO
  - FR
  - GA
  - GB
  - GD
  - GE
  - GF
  - GG
  - GH
  - GI
  - GL
  - GM
  - GN
  - GP
  - GQ
  - GR
  - GS
  - GT
  - GU
  - GW
  - GY
  - HK
  - HM
  - HN
  - HR
  - HT
  - HU
  - IC
  - ID
  - IE
  - IL
  - IM
  - IN
  - IO
  - IQ
  - IR
  - IS
  - IT
  - JE
  - JM
  - JO
  - JP
  - KE
  - KG
  - KH
  - KI
  - KM
  - KN
  - KP
  - KR
  - KW
  - KY
  - KZ
  - LA
  - LB
  - LC
  - LI
  - LK
  - LR
  - LS
  - LT
  - LU
  - LV
  - LY
  - MA
  - MC
  - MD
  - ME
  - MF
  - MG
  - MH
  - MK
  - ML
  - MM
  - MN
  - MO
  - MP
  - MQ
  - MR
  - MS
  - MT
  - MU
  - MV
  - MW
  - MX
  - MY
  - MZ
  - NA
  - NC
  - NE
  - NF
  - NG
  - NI
  - NL
  - 'NO'
  - NP
  - NR
  - NU
  - NZ
  - OM
  - PA
  - PE
  - PF
  - PG
  - PH
  - PK
  - PL
  - PM
  - PN
  - PR
  - PS
  - PT
  - PW
  - PY
  - QA
  - RE
  - RO
  - RS
  - RU
  - RW
  - SA
  - SB
  - SC
  - SD
  - SE
  - SG
  - SH
  - SI
  - SJ
  - SK
  - SL
  - SM
  - SN
  - SO
  - SR
  - SS
  - ST
  - SV
  - SX
  - SY
  - SZ
  - TA
  - TC
  - TD
  - TF
  - TG
  - TH
  - TJ
  - TK
  - TL
  - TM
  - TN
  - TO
  - TR
  - TT
  - TV
  - TW
  - TZ
  - UA
  - UG
  - UM
  - US
  - UY
  - UZ
  - VA
  - VC
  - VE
  - VG
  - VI
  - VN
  - VU
  - WF
  - WS
  - YE
  - YT
  - ZA
  - ZM
  - ZW
